# FallbackResource /index.php

# Si FallbackResource ne marche pas :
# Activer apache mod rewrite : a2enmod rewrite
RewriteEngine On
RewriteBase /SelfHeroes/php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]